{
    "extends": ["standard", "prettier", "prettier/standard"],
    "env": {
        "browser": true
    },
    "plugins": ["compat", "prettier"],
    "rules": {
        "compat/compat": "error",
        "prettier/prettier": ["error", "fb"]
    }
}